<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Background color -->
    <style> body{ background-image:linear-gradient(to right, #283c86 0%, #45a247 100%);} </style>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/edfaca1bfa.js" crossorigin="anonymous"></script>
    <!-- Script -->
    <script src="/script.js"></script>
  </head>

  <body>
    <!-- Top Navigation Bar -->
    {{> topnav}}
    <!-- Error -->
    {{#if error}}
      {{> error}}
    {{/if}}
    
    <!-- View admin home -->
    {{#if admin}}
      <div class="admin_home" id="current_state" state_name="home">
        {{> admin_home}}
      </div>
    
    <!-- View user home -->
    {{else}}
      <div class="user_home" id="current_state" state_name="home">
        {{> user_home}}
      </div>
    
    {{/if}}
  </body>

</html>