<header class="admin_home_header">
  <h1>Espaço Admin</h1>
</header>
<div class="admin_home_float_left">
  
  <div class="admin_home_rents">
    <header>
      <h1>Aluguéis Realizados</h1>
    </header>
    <table>
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Nome</th>
          <th>Entrega</th>
          <th>Usuário</th>
        </tr>
      </thead>
      <tbody>
        {{#each rents}}
          <tr>
            <td>{{isbn}}</td>
            <td>{{name}}</td>
            <td>{{end_date}}</td>
            <td>{{user}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="admin_home_users">
    <header>
      <h1>Usuários Cadastrados</h1>
    </header>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  
</div>
<div class="admin_home_float_rigth">
  
  <div class="create_book">
    <form method="post" action="/create/book">
      <h1>Cadastrar Livro</h1>
      <!-- ISBN -->
        <label>ISBN</label><br/>
        <input type="text" id="isbn" name="isbn" required /><br/>
      <!-- Name -->
        <label>Nome</label><br/>
        <input type="text" id="name" name="name" minlength="1" required /><br/>
      <!-- Author -->
        <label>Autor</label><br/>
        <input type="text" id="author" name="author" minlength="1" required /><br/>
      <!-- Pages -->
        <label>Páginas</label><br/>
        <input type="number" id="pages" name="pages" min="1" required /><br/>
      <!-- Quantity -->
        <label>Quantidade</label><br/>
        <input type="number" id="quantity" name="quantity" min="1" required /><br/><br/>
      <!-- Input Button -->
        <button type="submit">Cadastrar</button><br/>
    </form>
  </div>
  <div class="update_book">
    <form method="post" action="/update/book">
      <h1>Alterar Livro</h1>
      <!-- ISBN -->
        <label>ISBN</label><br/>
        <input type="text" id="isbn" name="isbn" readonly /><br/>
      <!-- Name -->
        <label>Nome</label><br/>
        <input type="text" id="name" name="name" minlength="1" required /><br/>
      <!-- Author -->
        <label>Autor</label><br/>
        <input type="text" id="author" name="author" minlength="1" required /><br/>
      <!-- Pages -->
        <label>Páginas</label><br/>
        <input type="number" id="pages" name="pages" min="1" required /><br/>
      <!-- Quantity -->
        <label>Quantidade</label><br/>
        <input type="number" id="quantity" name="quantity" min="1" required /><br/><br/>
      <!-- Input Button -->
        <button type="submit">Alterar</button><br/>
    </form>
  </div>
  
</div>